@use '../variables'
@use '../mixins'

.corpo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.corpo1
    display: flex
    align-items: center
    justify-content: center
    width: 99vw
    height: 40rem
    background-image: url('../../image/plano.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.barra_pesquisa
    width: 45rem
    height: 4rem
    border-radius: variables.$borda
    box-shadow: inset 5px 5px 10px #f2922542
    padding: 1rem

.buscador
    display: flex
    flex-direction: row
    @include mixins.center

.btn_ir
    width: 10rem
    height: 4rem
    border: 1px solid black 
    background: linear-gradient(to right, #ffcc00, #ff3300)
    margin-left: .1rem 
    cursor: pointer


.caixa
    background-color: rgba(255, 255, 255, 0.397)
    border-radius: variables.$borda
    padding: 2rem
    backdrop-filter: blur(30px)
    border: 1px solid black

    p
        font-size: 10rem
        margin-bottom: 3rem
        text-shadow: .3rem 0rem 0rem variables.$cor-secundaria
        color: variables.$cor-primaria


.conteudo
    display: flex
    flex-direction: column
    @include mixins.center

.slogam
    padding: 2rem
    text-align: center
    font-size: variables.$slogam

.caixas
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    text-align: center
    width: 70rem

    img
        width: 20rem
        height: 20rem
        border-radius: variables.$borda

    p
        padding: 1rem

.caixa_conversores
    cursor: pointer
    width: 60rem

    p
        margin-top: 2rem
        text-align: center
        font-size: 55px
        margin-bottom: 1rem

.conversores
    text-align: center
    background-color: white
    border-radius: variables.$borda
    padding: .1rem
    margin-bottom: 1rem
    :hover
        padding: 1rem
        margin-bottom: 1rem
        background-color: variables.$cor-terciaria
        font-size: 5rem
        transition: 1s

    p
        font-size: 4rem

.roda_pe
    text-align: center