@use '../variables'

.principal
    display: flex
    
.imagem_logo
    display: flex
    img
        width: 100px
    
.menu
    display: flex
    width: 100%
    background-color: variables.$cor-terciaria

    ul
        display: flex
        flex-direction: row
        list-style-type: none
        font-size: variables.$menu

        :hover
            background-color: variables.$cor-primaria
            border-radius: variables.$borda
            color: variables.$plano-fundo

    li
        margin-left: 20rem
        margin-top: 1rem
        margin-bottom: 1rem
        transition: .5s
        cursor: pointer
        padding: .4rem


