// Trends
$cor-primaria: #55a825
$cor-secundaria: #33abad
$cor-terciaria: #F29325
$cor-quartenaria: #D94F04
$plano-fundo: #F4E2DE

// Tamanhos
$menu: 2rem
$borda: .5rem
$slogam: 2rem


// Textos
$fonte: Helvetica